body{
    margin: 0;
    padding: 0;
}
header{
    display: block;
    text-align: right;
    width: 100%;
    background-color: #f0f8ff;
    float: left;
}

aside{
    width: 30%;
    float: left;
    height: 100%;
    background-color: #f5f5dc;
}

main{
    float: left;
}